
<div class="panel panel-primary">
<div class="panel-heading"><h2>BIENVENIDO</h2></div>
<div class="panel-body">

<p>Modulo de generacion de Informes</p>	
<br><br>
 	AXELOPEZ - DSI TENCOLOGIA 2015
 </div>
</div>

