<div class="panel panel-primary">
<div class="panel-heading"><h2>Modificar Empleado</h2></div>
<div class="panel-body">

<%= render 'form' %>

<%= link_to 'Show', @empleado, class: "btn btn-default" %> 
<%= link_to 'Back', empleados_path , class: "btn btn-default"%>
</div>
</div>
