<div class="panel panel-primary">
<div class="panel-heading"><h2>Nuevo Empleado</h2></div>
<div class="panel-body">


<%= render 'form' %>

<%= link_to 'Regresar', empleados_path, class: "btn btn-primary" %>
</div>
</div>
